<body>
    <div class="category">
        <h2 class="category-title">Web Development</h2>
        <p class="category-description">Resources to help you become a better web developer.</p>
        <ul class="resource-list">
            <li><a href="#">HTML & CSS Guide</a></li>
            <li><a href="#">JavaScript Essentials</a></li>
            <li><a href="#">React Documentation</a></li>
        </ul>
    </div>
  
    <div class="category">
        <h2 class="category-title">Design & UX</h2>
        <p class="category-description">Learn how to design beautiful and user-friendly interfaces.</p>
        <ul class="resource-list">
            <li><a href="#">UX Design Principles</a></li>
            <li><a href="#">Color Theory Basics</a></li>
            <li><a href="#">Typography Tips</a></li>
        </ul>
    </div>
  
  </body>